* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.game-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: #AAAAAAAA;
    width: 250px;
    height: 250px;
    text-align: center;
    justify-content: center;
    align-content: space-around;
}

.button {
    width: 75px;
    height: 25px;
}

.board-piece {
    height: 100px;
    width: 100px;
    border: 1px solid green;
}


.main-container {
    display: grid;
    justify-content: center;
}

.controls-container {
    display: grid;
    justify-content: space-between;
    grid-auto-flow: column;
    
}

.board-piece {
    text-align: center;
}
